.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;

}

.App header {
  min-height: 10vh;
  font-family: 'Rampart One', cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}