@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(27, 27, 27);
  max-width: 100vw;
  max-height: 100vh;
}